<% layout('layout') %>

<h1>Listado de Pacientes</h1>
<a href="/local/pacientes/nuevo" class="boton">Nuevo Paciente</a>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% if (pacientes.length === 0) { %>
      <tr><td colspan="4">No hay pacientes registrados.</td></tr>
    <% } else { %>
      <% pacientes.forEach(p => { %>
        <tr>
          <td><%= p.nombre %></td>
          <td><%= p.apellido %></td>
          <td><%= p.email %></td>
          <td><%= p.telefono %></td>
          <td>
            <form action="/local/pacientes/<%= p.id %>?_method=DELETE" method="POST" style="display:inline;">
                 <button type="submit" class="boton boton-rojo" onclick="return confirm('¿Estás seguro de eliminar este paciente?');">
                    Eliminar
                </button>
            </form>
          </td>

        </tr>
      <% }) %>
    <% } %>
  </tbody>
</table>